nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top.navbar-burger(role='navigation')
  .container
    .navbar-header
      .navbar-toggle#menu-toggle(type='button' data-toggle='collapse' data-target='#example')
        .sr-only Toggle Navigation
        .icon-bar.bar1
        .icon-bar.bar2
        .icon-bar.bar3
      a.navbar-brand(href='#') Brand
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="#") Home
        li
          a(href="#charts/pie") Pie Chart
        li
          a(href="#charts/category") Category Chart
        li
          a(href="#charts/interacting") Interacting Chart
      ul.nav.navbar-nav.navbar-right
        li.social-links
          a(href='#')
            i.fa.fa-facebook-square
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-google-plus-square
          a(href='#')
            i.fa.fa-dribbble