
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-burger" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-toggle" id="menu-toggle" type="button" data-toggle="collapse" data-target="#example">
        <div class="sr-only">Toggle Navigation</div>
        <div class="icon-bar bar1"></div>
        <div class="icon-bar bar2"></div>
        <div class="icon-bar bar3"></div>
      </div><a class="navbar-brand" href="#">Backbone App</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="" data-scroll="true" data-id="#whoWeAre">About</a></li>
        <li><a href="" data-scroll="true" data-id="#workflow">What We Do</a></li>
        <li><a href="" data-scroll="true" data-id="#projects">Famous Freebies</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="social-links"><a href="#"><i class="fa fa-facebook-square"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus-square"></i></a><a href="#"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="main-view"></div>